
.footer {
    background-color: #fff;
    font-size: 14px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: 400;
}

.footer-div {
    text-align: left;
    margin-left: 4%;
    line-height: 1.6;
    margin-bottom: 30px;

    &__header {
        font-size: 16px;
        margin-bottom: 10px;

    }

    &__tel {
        font-size: 1.875em;
        margin-top: 10px;
        font-weight: bold;
        margin-bottom: -20px;
    }

}


@media only screen and (max-width: 400px) {
    .footer-div {
        &__defaultLogo {
            display: none;
        }
        &__shortLogo {
            display: block;
        }
    }
}


@media only screen and (min-width: 401px) {
    .footer-div {
        &__defaultLogo {
            display: block;
        }
        &__shortLogo {
            display: none;
        }
    }
}


@media only screen and (min-width: 481px) and (max-width: 992px) {

    .footer {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

    }
    .footer-div {
        width: 45%;
    }
}

@media only screen and (min-width: 993px) {
    .footer {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        
    }

    .footer-div {
        width: 25%;
        &__tel {
            margin-top: 0;
        }
    }

    .footer-div__ul {
        width: 15%;
    }
}